@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: Airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root{
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);
    --thumbnails-hidden-image-width: 45vw;
    --thumbnails-hidden-image-height: 39.5vw;
    --thumbnails-hidden-title-height: calc(var(--thumbnails-hidden-image-height)*0.33);
    --ditails-image-width: 70vw;
    --ditails-image-height: 60vw;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: darkseagreen;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: lakeshor;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden .details-container {
    display: none
}
.details-div {
    position: relative;
    width: var(--ditails-image-width);
}
.details-image {
    width: var(--ditails-image-width);
    height: var(--ditails-image-height);
    border-radius: 25%;
}
.details-title {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
}
.hide-button {
    position: absolute;
    top: 2vw;
    right: 3vw;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: space-around;
    align-items: flex-end ;
    list-style-type: none;
    padding: 0;
    padding-top: 2,5vh;
}
.hidden .thumbnails-list {
    flex-direction: column;
    max-height: 85vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 2px solid blue;
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height)+var(--thumbnails-title-height));
    border-radius: 25%;
    overflow: hidden;
}
.hidden .thumbnails-item {
    max-width: var(--thumbnails-hidden-image-width);
    max-height: calc(var(--thumbnails-hidden-image-height)+var(--thumbnails-hidden-title-height));
    min-height: 52.5vw;

}
.selected.thumbnails-item {
    border-radius: 0;
    border: 3px solid green;
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
}
.hidden .thumbnails-image {
    width: var(--thumbnails-hidden-image-width);
    height: var(--thumbnails-hidden-image-height);
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    height: var(--thumbnails-title-height);
    width: var(--thumbnails-image-width);
}
.hidden .thumbnails-title {
    height: var(--thumbnails-hidden-title-height);
    width: var(--thumbnails-hidden-image-width);
    font-size: 2.3rem;
}
.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (min-width: 568px){
    :root{
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        --thumbnails-hidden-image-width: 30vw;
        --thumbnails-hidden-image-height: 25vw;
        --thumbnails-hidden-title-height: calc(var(--thumbnails-hidden-image-height)*0.25);
        --ditails-image-width: 60vw;
        --ditails-image-height: 43vw;
    }
    body {
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0;
        font-size: 1.5rem;
    }
    .main-content {
        display: flex;
         justify-content: space-around; 
    }
    .details-container {
        justify-content: center;
    }
    .details-title {
        left: -4vw;
        bottom: 2vw
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        max-width: 93vw;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
    }
    .thumbnails-item {
        margin-left:0;
        margin-top: 0;
        max-width: var(--thumbnails-image-width);
        min-height: 12.5vw;
    }
    .thumbnails-item + .thumbnails-item {
        margin-top: 2vh;
    }
    .hidden .thumbnails-item {
        max-width: var(--thumbnails-hidden-image-width);
        max-height: calc(var(--thumbnails-hidden-image-height)+var(--thumbnails-hidden-title-height));
        min-height: 31.2vw;
        min-width: 30vw;
        margin-right: 4vw;
    }
    .hidden .thumbnails-item#last-item {
        margin-right: 0;
    }
    .thumbnails-title {
        font-size: 1rem;
    }
    .hidden .thumbnails-title {
        font-size: 1.8rem;
    }
}@media (min-width: 900px) {
    .logo-title {
        margin: 0;
        font-size: 2rem;
    }
    .details-image {
        width: 50vw;
        height: 38vw;
    }
    .details-title {
        left: -3vw;
        bottom: 3vw;
        font-size: 2rem;
    }
    .hide-button {
        top: 2vw;
        right: 12vw;
    }
    .thumbnails-list {
       max-height: 85vh;
       padding-right: 2vw
    }
    .thumbnails-title {
        font-size: 1.5rem; 
    }
    .hidden .thumbnails-title {
        font-size: 3rem;
    }
}
