@font-face {
    font-family: lakeshor;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: Airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}
:root{
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);
    --ditails-image-width: 70vw;
    --ditails-image-height: 60vw;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: darkseagreen;
    /* align-items: center; */
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: lakeshor;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.details-image {
    width: var(--ditails-image-width);
    height: var(--ditails-image-height);
    border-radius: 25%;
}
.details-tittle {
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    font-family: airstream;
    font-style: italic;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    padding-top: 2,5vh;
    /* margin: 0; */
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 2px solid blue;
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height)+var(--thumbnails-title-height));
    border-radius: 25%;
    overflow: hidden;
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
    height: var(--thumbnails-title-height);
    width: var(--thumbnails-image-width);
    
}
.footer-tittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (min-width: 568px){
    :root{
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        --ditails-image-width: 60vw;
        --ditails-image-height: 43vw;
    }
    body {
        justify-content: space-between;
        margin: 0;
    }
    .logo-title {
        margin: 0;
        font-size: 1.5rem;
    }
    .main-content {
        display: flex;
         justify-content: space-around; 
    }
    .details-container {
        justify-content: center;
    }
    .details-tittle {
        left: -4vw;
        bottom: 2vw
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
        max-height: 70vh;
        justify-content: flex-start;
        padding: 0;
    }
    .thumbnails-item {
        margin-left:0;
        margin-top: 0;
        max-width: var(--thumbnails-image-width);
        min-height: 12.5vw;
    }
    .thumbnails-item + .thumbnails-item {
        margin-top: 2vh;
    }

    .thumbnails-title {
        font-size: 1rem;
    }
}@media (min-width: 900px) {
    :root{
        --thumbnails-image-width: 13vw;
        --thumbnails-image-height: 11vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.25);
        --ditails-image-width: 57vw;
        --ditails-image-height: 38vw;
    }
    .logo-title {
        font-size: 2rem;
    }
    .details-image {
        border-radius: 20%;
    }
    .details-tittle {
        font-size: 1.7rem;
        bottom: 5vh;
    }
    .thumbnails-list {
        max-height: 80vh;
        margin: 0;
    }
    .thumbnails-item {
        min-height: 13.5vw;
    }
    .thumbnails-title {
        font-size: 1.5rem;
    }
    .footer-tittle {
     font-size: 1.5rem;
    }
}
